<div class="home-page">
    <div class="banner">
      <div class="container">
        <h1 class="logo-font">Profile User</h1>
      </div>
    </div>
  </div>
<div class="list-info">

    <table>
        <tr>
          <td>Name:</td>
          <td><i> {{user.name}} </i></td>
        </tr>
        <tr>
          <td>First Name:</td>
          <td><i> {{user.given_name}} </i></td>
        </tr>

        <tr>
          <td>Last Name:</td>
          <td><i> {{user.family_name}} </i></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><i> {{user.email}} </i></td>
        </tr>
        <tr>
          <td>Birthday:</td>
          <td><i> {{user.birthdate}} </i></td>
        </tr>
        <tr>
          <td>Gender:</td>
          <td><i> {{user.gender}} </i></td>
        </tr>
      </table>
</div>